.tile-file-download {
  .detailText {
    padding: 0.5rem;
  }
  .download {
    align-self: stretch;
    > .btn {
      height: 100%;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}