.tile-quote {
  padding: 0.5rem 3rem;
  padding-right: 6rem;
  .quote-start {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3rem;
    font-size: 3rem;
    line-height: 3rem;
    color: $color-text-hint !important;
    text-align: center;
  }
  .quote-end {
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    width: 10rem;
    font-size: 8rem;
    line-height: 8rem;
    color: $color-text-hint !important;
    text-align: right;
  }
  .author {
    font-size: 0.8rem;
    font-style: italic;
  }
}

@media (max-width: $breakpoint-smartphone) {
  .tile-quote {
    padding: 0.5rem 3rem;
    .quote-end {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 3rem;
      font-size: 3rem;
      line-height: 3rem;
      text-align: center;
    }
  }
}