.card {
    border-radius: $border-radius;
    box-shadow: $shadow;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    position: relative;
    border: 2px solid $color-warning;
    > * {
        padding: 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    > .adaptive-height {
        flex-grow: 1;
        padding: 0px;
        position: relative;
    }
    > .splash {
        padding: 0px;
        position: relative;
    }
}


.post-number {
    position: absolute;
    right: 0.5rem;
    bottom: -10px;
    font-size: 4rem;
    font-family: 'Roboto Mono';
    color: $color-white;
}

.image-splash {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aspect-ratio-3-2 {
  height: 0;
  overflow: hidden;
  padding-top: (2 / 3) * 100%;
  background: $color-text-hint;
  position: relative;
}

.aspect-ratio-16-9 {
  height: 0;
  overflow: hidden;
  padding-top: (9 / 16) * 100%;
  background: $color-text-hint;
  position: relative;
}

.aspect-ratio-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-0 {
    padding-top: 0px;
}

.space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-color: 2px solid $color-warning;
}

.col {
    float: left;
    width: 33.3%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.gray {
    color: $color-text-hint;
}

img {
    display: block;
}


a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}
a {
    color: $color-primary;
    transition: 0.2s ease-in-out;
    &:hover,
    &:focus {
        color: #68a2f3;
    }
}

a.gray {
    &:hover,
    &:focus {
        color: $color-primary;
    }
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.light {
    color: $color-white;
}

.dark {
    color: $color-white;
}