.header {
  background-color: $color-primary;
  box-shadow: $shadow;
  margin-bottom: 1rem;
  color: $color-white;
  .site-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    > .icon {
      font-size: 36px;
      line-height: 36px;
      padding-right: 0.25rem;
      vertical-align: middle;
    }
    > .title {
      padding: 0px 0.25rem;
    }
    > .navigation {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0px;
      > li {
        display: block;
        padding: 0.25rem 0.25rem 0px 0.25rem;
        > a {
          font-size: 1.2rem;
          line-height: 1.2rem;
          font-weight: 300;
          color: $color-white;
        }
      }
    }
  }
}