@import "./variables.scss";

@import "../node_modules/node-waves/src/scss/waves.scss";


@import "./components/**/*.scss";
@import "./pages/**/*.scss";

html {
    font-size: 16px;
}

body {
    background-color: #f1f0ef;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

p {
    text-align: left;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    line-height: 145%;
}

h1, .h1 {
    font-size: 3.052rem;
}

h2, .h2 {
    font-size: 2.441rem;
}

h3, .h3 {
    font-size: 1.953rem;
}

h4, .h4 {
    font-size: 1.563rem;
}

h5, .h5 {
    font-size: 1.250rem;
}

h6, .h6 {
    font-size: 1rem;
}

p, .p, small, .small, a, .a {
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    line-height: 145%;
}

p, .p {
    font-size: 1rem;
}

small, .small {
    font-size: 0.8rem;
}

.page {
    display: grid;
    grid-template-columns:
        [full-start] minmax(1rem, 1fr)
        [main-start] minmax(0, 50rem) [main-end]
        minmax(1rem, 1fr) [full-end];
    > * {
        grid-column: main;
        position: relative;
    }
    > .full-width {
        grid-column: full;
    }
}

*::selection {
    color: $color-white;
    background-color: $color-primary;
}

.error {
    color: $color-secondary;
    font-family: 'Roboto Mono';
}