@import "./lib/Color.scss";

$border-radius: 3.5px;

$shadow: 0 2px 4px rgba(0,0,0,0.08), 0 2px 4px rgba(0,0,0,0.12);
$shadow-warning: 0px 0px 0px 2px $color-warning;
$shadow-raised: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$z-index-page:         200;
$z-index-context-menu: 250;
$z-index-header:       500;
$z-index-fullscreen:   550;
$z-index-toast:        600;

$header-height: 4rem;

$page-width: 50rem;

$breakpoint-smartphone: 1400px;
$breakpoint-smartphone: 52rem;
$breakpoint-small: 32rem;

$font-family-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
$font-weight-mono: 400;
$font-family-text: 'Roboto', sans-serif;
$font-weight-text: 300;


@import "./lib/Layout.scss";
@import "./lib/Tile.scss";
@import "./lib/Typography.scss";
@import "./lib/Image.scss";
@import "./lib/ReactToastify.scss";
@import "./lib/List.scss";
@import "./lib/Tooltip.scss";
@import "./lib/ContextMenu.scss";
@import "./lib/AspectRatio.scss";
@import "./lib/Card.scss";